body {
    background-color: plum;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.h2 {
    font-size: small;
    color:brown;

}

.h3 {
    background-color: brown;
    font-size: medium;
    color: white;
    /* width: 150px; */
    display: inline;
    padding: 1px 3px;
    border-radius: 7px
}

.p {
    color:black;
}
.container {
    margin-left:300px;
    margin-right: 300px;
}

.box {
    padding-left: 10px;
    float: left;
}

.box2 {
    float:right;
}